.max-ctn-100 {
  max-width: 100%;
  max-height: 100%;
}

.SCIcon_Stats {
  display: flex;
}

.ItemIcon-corner-lt {
  position: absolute;
  transform: rotate(90deg);
  left: -1px;
  top: -10px;
  width: 25px;
  z-index: -3;
}

.ItemIcon-corner-rt {
  position: absolute;
  transform: rotate(180deg);
  right: -6px;
  top: -10px;
  width: 25px;
  z-index: -3;
}

.ItemIcon-corner-t-line {
  position: absolute;
  transform: rotate(180deg);
  top: -10px;
}

.ItemIcon-corner-b-line {
  transform: rotate(180deg);
  position: absolute;
  bottom: -4px;
}

.ItemIcon-corner-lb {
  position: absolute;
  transform: rotate(270deg);
  right: -6px;
  bottom: 5px;
  width: 25px;
  z-index: -3;
}

.ItemIcon-corner-rb {
  position: absolute;
  transform: rotate();
  left: -1px;
  bottom: 5px;
  width: 25px;
  z-index: -3;
}

.ItemIcon {
  width: 182px;
  height: 46px;
  margin-left: 2px;
  margin-right: 7px;
  margin-top: 12px;
  margin-bottom: 6px;
  position: relative;
  /*border: 1px solid white;*/
}

.item-view-position {
  position: absolute !important;
  width: 35px;
  height: 35px;
  top: -5px;
  left: 3px;
}

.ItemInfoField-TopIcon {
  position: relative;
  top: -10px;
  margin-left: 2px;
  margin-right: 2px;
}

.ItemInfoField-TopSpacer {
  border-top: 2px solid #f5d546;
  height: 25px;
  width: 5%;
}

.ItemCardSndParam {
  position: absolute;
  bottom: -129px;
  height: 115px;
  width: 175px;
  left: -25px;
}

uh4 {
  position: relative;
  font-size: 16px;
  font-variant: all-small-caps;
  font-family: auto;
  width: 100%;
  display: flex;
  color: #f5d546;
  justify-content: center;
  text-align: center;
}

u4 {
  position: relative;
  font-size: 12px;
  font-variant: all-small-caps;
  font-family: auto;
  color: #f5d546;
}

u5 {
  position: relative;
  font-size: 9px;
  font-variant: all-small-caps;
  font-family: auto;
  color: #f5d546;
}

u6 {
  position: relative;
  font-size: 8px;
  font-variant: all-small-caps;
  font-family: auto;
  color: #f5d546;
}

u3 {
  position: relative;
  font-size: 14px;
  font-variant: all-small-caps;
  font-family: auto;
  color: #f5d546;
}

.ItemCardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.item-selectbar {
  display: flex;
  width: 50%;
  height: 50px;
}
.item-selectbar .item-selectbar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.item-selectbar .item-selectbar-content .icon-wrap {
  top: 0px;
}

.item-viewpage-content {
  border-top: 1px solid #f5d546;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  align-content: flex-start;
  justify-content: center;
  height: 600px;
  overflow-y: scroll;
}

.ItemIcon {
  width: 182px;
  height: 58px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  /*border: 1px solid white;*/
}
.ItemIcon .ItemIcon-position {
  position: relative;
  top: -20px;
  left: 1.5px;
}
.ItemIcon .ItemIcon-content {
  position: relative;
  width: 183px;
  height: 62px;
  top: -85px;
  clip-path: polygon(11.2% 84%, 24.2% 61.8%, 24.2% 27%, 92.6% 27%, 98.8% 39%, 98.8% 86.2%, 95.4% 92.5%, 10.5% 92.5%, 2.4% 79%, 2.3% 69%);
  background-color: rgba(245, 213, 70, 0.3137254902);
}
.ItemIcon .ItemIcon-name {
  position: relative;
  top: -16px;
  left: 42px;
}
.ItemIcon .ItemIcon-stats {
  position: absolute;
  top: 18px;
  left: 45px;
  height: 144px;
}
.ItemIcon .ItemIcon-manushort {
  position: relative;
  font-size: 9px;
  left: 85px;
  top: -5px;
  font-variant: all-small-caps;
  font-family: auto;
  color: #4f4c4d;
}
.ItemIcon .ItemIcon-price {
  position: relative;
  font-size: 9px;
  left: 155px;
  top: -15px;
  font-variant: all-small-caps;
  font-family: auto;
  color: #4f4c4d;
}
.ItemIcon .ItemIcon-price:before {
  background-color: red;
  width: 20px;
  height: 30px;
  position: relative;
  font-size: 9px;
  left: 85px;
  top: -5px;
}
.ItemIcon .ItemIcon-manupic {
  position: absolute;
  width: 48px;
  left: 128px;
  top: 12px;
  opacity: 0.3;
}
.ItemIcon .ItemIcon-size {
  position: absolute;
  left: 161px;
  top: 25px;
  z-index: 1;
}

.icon-wrap {
  position: relative;
}
.icon-wrap:hover .cls-3 {
  fill: #f5d546;
}
.icon-wrap:hover .cls-4 {
  fill: url(#Unbenannter_Verlauf_12);
}
.icon-wrap:hover .sc-icon-type {
  display: flex;
  z-index: 200;
  filter: invert(12%) sepia(63%) saturate(6234%) hue-rotate(246deg) brightness(87%) contrast(156%);
}

.cls-1 {
  stroke-miterlimit: 10;
  stroke-width: 0.441px;
}

.cls-1, .cls-2 {
  fill: none;
  stroke: #f5d546;
}

.cls-3 {
  fill: #f6d646;
}

.cls-2 {
  stroke-linejoin: bevel;
}

.cls-4 {
  fill: url(#icon-bg-gradient);
}

.cls-5 {
  fill: url(#Unbenannter_Verlauf_12);
}

.sc-icon-type-color {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 65%;
}

.sc-icon-type {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
}

.icon-container,
.icon-border, .icon-border2 {
  width: 100%;
  height: 100%;
  background: #f5d546;
  position: relative;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}
.icon-container:hover .hover-bg,
.icon-border:hover .hover-bg, .icon-border2:hover .hover-bg {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2700892857) 25%, rgba(255, 255, 255, 0.1664478291) 32%, rgba(245, 213, 70, 0.6622461485) 81%);
}
.icon-container:hover .hover-bg-selected,
.icon-border:hover .hover-bg-selected, .icon-border2:hover .hover-bg-selected {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2700892857) 25%, rgba(255, 255, 255, 0.1664478291) 32%, rgba(245, 213, 70, 0.6622461485) 81%);
}

.hover-bg {
  background: rgba(245, 213, 70, 0.3137254902);
  width: 100%;
  height: 100%;
}
.hover-bg-selected {
  background: rgba(0, 255, 255, 0.3137254902);
  width: 100%;
  height: 100%;
}
.icon-container .icon-border,
.icon-border .icon-border {
  width: 90%;
  height: 90%;
}

.icon-border2 {
  width: 95%;
  height: 95%;
  background-color: red;
}

.icon-content img {
  display: flex;
}

.icon-container .icon-border .icon-content,
.icon-border .icon-border .icon-border {
  width: 100%;
  height: 100%;
  background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
  position: absolute;
  top: 0;
  left: 0;
  animation: contentAnimation 2s infinite linear;
  transform-origin: center top;
}

.clas-Military {
  background: rgba(76, 5, 255, 0.3137254902) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
}

.clas-Civilian {
  background: rgba(5, 255, 37, 0.5019607843) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
}

.clas-Competition {
  background: rgba(255, 217, 5, 0.3137254902) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
}

.clas-Industrial {
  background: rgba(255, 109, 5, 0.3137254902) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
}

.clas-Stealth {
  background: rgba(255, 5, 113, 0.3137254902) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
}

.ItemCard-cls-1 {
  font-size: 12.464px;
}

.ItemCard-cls-1, .ItemCard-cls-2 {
  isolation: isolate;
}

.ItemCard-cls-1, .ItemCard-cls-2, .ItemCard-cls-3 {
  fill: #fff;
}

.ItemCard-cls-1, .ItemCard-cls-3 {
  font-family: NameSmile, "Name Smile";
}

.ItemCard-cls-4, .ItemCard-cls-5, .ItemCard-cls-6, .ItemCard-cls-7 {
  fill: #16152d;
}

.ItemCard-cls-8 {
  fill: aqua;
}

.ItemCard-cls-9 {
  fill: url(#Unbenannter_Verlauf_2);
}

.ItemCard-cls-5 {
  stroke-width: 1.125px;
}

.ItemCard-cls-5, .ItemCard-cls-6, .ItemCard-cls-7 {
  stroke: #f7d747;
  stroke-miterlimit: 10;
}

.ItemCard-cls-6 {
  stroke-width: 0.371px;
}

.ItemCard-cls-10 {
  fill: lime;
}

.ItemCard-cls-2 {
  opacity: 0.7;
}

.ItemCard-cls-11 {
  fill: #f0f;
}

.ItemCard-cls-12 {
  fill: url(#Unbenannter_Verlauf_52);
}

.ItemCard-cls-7 {
  stroke-width: 0.722px;
}

.ItemCard-cls-13 {
  letter-spacing: -0.024em;
}

.ItemCard-cls-3 {
  font-size: 10px;
}

.ItemCard-cls-14 {
  fill: #f7d747;
}
