.SCCoreIcon {

    .inner-icon-wrap {
        position: absolute;
        width: 90%;
        height: 90%;
    }

    .stroke-grade-red {
        stroke: red !important;
    }

    .stroke-grade-blue {
        stroke: blue !important;
    }

    .fill-grade-red {
        fill: red !important;
    }

    .fill-grade-blue {
        fill: blue !important;
    }

    .font-field {
        color:#00001b;
        background-color: rgba(247, 212, 70, 0.6862745098);
        position: absolute;
        width: 106%;
        border-radius: 5px;
        bottom: 17%;
        pointer-events: none;
    }

    .sc-core-icon-1 {
        fill: #f7d747;
        opacity: 0.4;
        stroke-width: .412px;
    }

    .sc-core-icon-2, .sc-core-icon-3 {
        stroke: #f7d747;
        stroke-miterlimit: 10;
    }

    .sc-core-icon-2 {
        fill: url(#imagePattern36);
        filter: url(#InnerShadowLow);
        stroke-width: 1.971px;
    }

    .icon-bg {
        fill: #00001b;
    }

    .sc-core-icon-3 {
        fill: url(#imagePattern36);
        stroke-width: .582px;
    }

    sh4 {
    }
}
