.outer-1 {
  fill: none;
  stroke: #f5d546;
  stroke-dasharray: 0 0 0 0 0 5 50 5 50 5;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.fwd-1 {
  stroke-width: 0.597px;
  stroke: #f5d546;
}

.fwd-1, .fwd-2 {
  fill: #f5d54670;
}

.fwd-2 {
  stroke-width: 0.534px;
}

.fwd-4 {
  font-size: 21.861px;
}

.fwd-4, .fwd-5, .fwd-6, .fwd-7, .fwd-8, .fwd-9 {
  fill: #4f4c4d;
  font-family: Arial-Black, Arial;
}

.fwd-5 {
  font-size: 16.031px;
}

.fwd-6 {
  font-size: 11.173px;
}

.fwd-7 {
  font-size: 27.69px;
}

.fwd-3 {
  fill: #f5d54670;
  stroke-width: 1px;
  stroke: #f5d546;
}

.fwd-8 {
  font-size: 11.659px;
}

.fwd-9 {
  font-size: 25.747px;
}

.inner-circle {
  fill: none;
  scale: 0.99;
  transform: translate(2px, 2px);
}

.btn:hover {
  /* fill: red;*/
  box-shadow: inset 0 0 20px #f5d54670;
  fill: #f5d546;
  stroke-width: 2px;
  filter: url(#InnerShadow);
}

.btn-selected {
  box-shadow: inset 0 0 20px #f5d54670;
  fill: #f5d546;
  stroke-width: 2px;
  filter: url(#InnerShadow);
}

.ig-all-font {
  pointer-events: none;
}

.cyc-btn {
  stroke: none;
  fill: none;
}

.fwd-2 {
  fill: #141b64;
}

@keyframe toandback {}
