@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
$kutschup: --sc-secondary;
$accent-color: #355cc9;
// colors
$onyx: #111;
$white: #fff;
$ketchup-mayo: #f5d546;
$ketchup-mayo-opa: #f5d54670;
$leather: #4f4c4d;
$light-azur: #C7E3F9;
$tomato: #d64444;
$deepblue: #00001b;
// add component style here

// template style
$duration: 400ms;
$shift: 200ms;
$start: 800ms;
$sc-border: 2px solid $ketchup-mayo;
$background: lighten(#00001b, 1%) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
$div-bg: linear-gradient(0deg, rgba($ketchup-mayo, .1) 0%, rgba($onyx, 0) 100%);
$div-bg-2: linear-gradient(0deg, rgba($ketchup-mayo, .3) 20%, rgba($onyx, 1) 100%);
$background-img: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
$background-line: url(https://cdn.robertsspaceindustries.com/static/images/common/fading-bars.png) repeat ;
$background: lighten(#00001b, 1%) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
$error-text-msg: #9a1b1b ;
.selected {
    background-color: $ketchup-mayo-opa!important;
}

.selected > td {
    color: wheat !important;
}

.selected > td .mud-input {
    color: green !important;
}
.root {
    --cet-mayo-opa :#f5d54670;
    --mud-palette-text-primary: #4ae25f !important;
    --mud-elevation-1: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) !important;
    --mud-palette-drawer-icon: $ketchup-mayo-opa;
    --mud-palette-drawer-icon: #616161ff;
}
.CardItem-RSI {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-mask-image: none, url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 24 24'><path d='M0 0h4.7a8 8 0 015.6 2.3l11.4 11.4a8 8 0 012.3 5.6V24H0V0z' fill='%23000'/></svg>"), none, url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 24 24'><path d='M24 24h-4.7a8 8 0 01-5.6-2.3L2.3 10.3A8 8 0 010 4.7V0h24v24z' fill='%23000'/></svg>"), linear-gradient(#000, #000), linear-gradient(#000, #000), linear-gradient(#000, #000), linear-gradient(#000, #000), linear-gradient(#000, #000);
    -webkit-mask-size: 0px 0px, 28px 28px, 0px 0px, 28px 28px, calc(100% - 26px) 1px, 29px calc(100% - 26px), calc(100% - 54px) calc(100% + 2px), 29px calc(100% - 26px), calc(100% - 26px) 1px;
    -webkit-mask-position: left top, right top, right bottom, left bottom, -1px top, left -1px, 27px -1px, right 27px, 27px bottom;
    -webkit-mask-repeat: no-repeat;
}

a:hover{
    color:$ketchup-mayo-opa;
}
@-webkit-keyframes AnimationName {
    0% {
        background-position: 68% 0%
    }

    50% {
        background-position: 33% 100%
    }

    100% {
        background-position: 68% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 68% 0%
    }

    50% {
        background-position: 33% 100%
    }

    100% {
        background-position: 68% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 68% 0%
    }

    50% {
        background-position: 33% 100%
    }

    100% {
        background-position: 68% 0%
    }
}

.BabylonMudBackground {
    position: relative;
    padding: 0 0 15px;

    .mud-table-cell {
        
    }

    .mud-list-item-gutters {
        padding-left: 4px;
    }

    .mud-list.mud-list-padding {
        padding-top: 4px;
        padding-bottom: 4px
    }

    .mud-list-item-icon {
        min-width: 15px !important;
    }

    .mud-expand-panel .mud-expand-panel-content {
        padding-right: 6px;
        padding-left: 6px;
    }

    .mud-expand-panel .mud-expand-panel-content.mud-expand-panel-dense {
        padding-right: 6px;
        padding-left: 6px;
    }

    .bbl-font-12 {
        font-variant: small-caps;
        font-size: 12px;
    }

    .bbl-font-8 {
        font-variant: small-caps;
        font-size: 8px;
    }


    .mud-table-root .mud-table-head .mud-table-cell {
        color: $ketchup-mayo-opa;
        font-weight: 500;
        line-height: 1.5rem;
    }

    .mud-list {
        background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
        background-color: #00001b;
        border-left: 1px solid $ketchup-mayo;
        border-right: 1px solid $ketchup-mayo;
        border-bottom: 1px solid $ketchup-mayo;
        border-radius: 4px;
    }

    .mud-icon- .mud-list-item-clickable:hover {
        background: linear-gradient(0deg, rgb(245 213 70 / 10%) 25%, rgba(17, 17, 17, 0) 100%);
    }

    .mud-list-item-gutters {
        padding-left: 6px;
        padding-right: 9px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .mud-divider {
        margin: 0;
        flex-shrink: 0;
        border-color: $ketchup-mayo;
        border-width: 1px;
        border-style: solid none solid none;
    }

    .mud-divider-inset {
        margin-inline-start: 34px;
    }

    .mud-list-item-icon {
        min-width: 30px;
    }

    .mud-expand-panel-header {
        padding-top: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
    }

    .mud-typography-body1 {
        font-size: 12px;
        font-family: "Graduate", sans-serif;
        font-weight: var(--mud-typography-body1-weight);
        line-height: var(--mud-typography-body1-lineheight);
        letter-spacing: var(--mud-typography-body1-letterspacing);
        text-transform: var(--mud-typography-body1-text-transform);
    }



    .mud-tab.mud-disabled {
        cursor: default;
        pointer-events: none;
        color: $leather;
    }

    .mud-error-text {
        color: $error-text-msg !important;
    }

    .mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol.mud-input-error {
        color: $error-text-msg !important;
    }

    .mud-input-helper-text.mud-input-error {
        color: $error-text-msg !important;
    }

    .validation-message {
        color: $error-text-msg;
    }

    p {
        margin-bottom: 0;
    }


    .mud-nav-link {
        border-top: 1px solid #f5d546;
        border-bottom: 1px solid #f5d546;
        background: linear-gradient(0deg, $ketchup-mayo-opa 1%, #11111100 100%);
        box-shadow: inset 0 0 3px $ketchup-mayo-opa;
        color: $ketchup-mayo-opa;
        transition: 400ms all ease-out;
        font-family: 'Graduate', sans-serif;

        &:hover {
            color: $ketchup-mayo;
            box-shadow: inset 0 0 9px $ketchup-mayo-opa;
            transition: 200ms all ease-out;
            background: linear-gradient(180deg, #00001b00, #f5d54699);
            -webkit-animation: AnimationName 2s ease infinite;
            -moz-animation: AnimationName 2s ease infinite;
            animation: AnimationName 2s ease infinite;
        }
    }

    .mud-paper {
        position: relative;
        padding: 0 0 15px;
        background: url(https://cdn.robertsspaceindustries.com/static/images/common/fading-bars.png) repeat, linear-gradient(0deg, rgb(245 213 70 / 9%) 0%, rgba(0, 0, 27, 0.5551032913) 65%);
        box-shadow: 0px 3px 1px -2px #f5d54657,0px 2px 2px 0px rgba(245, 213, 70, 0.4392156863),0px 1px 5px 0px rgba(245, 213, 70, 0.4392156863);
    }
}

.mud-tabs.mud-tabs-rounded .mud-tabs-panels {
   /* background: $background-line;*/
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

    text-align: center; /* Zentriert den Text horizontal */

    font-variant: small-caps;
    margin-bottom: 0px;
}
.mud-paper {
  /*  background: $background-line;
    */
}
    .d-Hover {
        .mud-elevation-1 {
            background: $div-bg-2;
            box-shadow: 0px 2px 1px -1px rgb(242 249 0 / 20%),0px 1px 1px 0px rgb(0 255 184 / 14%),0px 1px 3px 0px rgb(0 208 255 / 39%);
        }
    }

    .d-Hover {
        transition: 200ms all ease-out;
        filter: drop-shadow(0 0 0.15rem $ketchup-mayo);


        .mud-input-control {
            margin-top: 0px;
        }

        .mud-input.mud-input-underline {
            &::before {
                width: 0%;
            }

            &::after {
                left: 0;
                right: 0;
                width: 80%;
                bottom: 3.5px;
                content: "";
                position: absolute;
                transform: scaleX(0);
                transition: transform 200ms cubic-bezier(0, 0, .2, 1) 0ms;
                border-bottom: 2px solid #4ae25f;
                pointer-events: none;
            }
        }

        &:hover {
            transform: translateY(-0.25em);
            filter: drop-shadow(5px 1px 3.15px $ketchup-mayo-opa);

            .sc-rcontent-imgCrnR {
                position: relative;
                left: -18.25px;
                top: 3px;
            }

            .sc-rcontent-imgCrnL {
                position: relative;
                left: 18.2px;
                top: -3px;
            }
        }

        &:focus-within {
            transform: translateY(-0.25em);
            filter: drop-shadow(1px 1px 2.15px $ketchup-mayo-opa);

            .sc-rcontent-imgCrnR {
                position: relative;
                top: 3.5px;
                left: 3px;
            }

            .sc-rcontent-imgCrnL {
                position: relative;
                top: -3.5px;
                left: -4px;
            }
        }

        .mud-input-control {
            > .mud-input-control-input-container {
                > .mud-input-label-inputcontrol {
                    color: #4ae25f;
                    padding: 0;
                    top: -2px;
                    left: 5px;
                    letter-spacing: 0.00938em;
                    z-index: 0;
                    pointer-events: none;
                }
            }
        }

        .mud-input-label-animated {
            transition: color 200ms cubic-bezier(0, 0, 0.3, 1.05) 0ms, transform 200ms cubic-bezier(0, 0, .2, 1) 0ms;
        }

        .mud-input-label-inputcontrol {
            top: 0;
            left: 0;
            position: absolute;
            transform: translate(0, 24px) scale(1);
        }

        .mud-shrink ~ .mud-input-label.mud-input-label-inputcontrol,
        .mud-input:focus-within ~ .mud-input-label.mud-input-label-inputcontrol {
            transform: translate(15px, 3.5px) scale(.75);
            transform-origin: top left;
        }

        .mud-input:focus-within ~ .mud-input-label.mud-input-label-inputcontrol {
            color: $ketchup-mayo-opa;
        }

        .mud-input > input.mud-input-root, div.mud-input-slot.mud-input-root {
            width: 85%;
            left: 6px;
            top: -2Px;
        }

        .sc-rcontent-imgCrnL {
            transition: 200ms all ease-out;
            position: relative;
            max-height: 100%;
            top: -1px;
            transform: translatex(15%);
        }

        .sc-rcontent-imgCrnR {
            transition: 200ms all ease-out;
            position: relative;
            max-height: 100%;
            top: 1px;
            transform: translatex(-16%);
        }

        .masked-div {
            position: relative;
            background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
            background-color: #00001b;
            height: 100%;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: inherit;
                background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
                background-color: #00001b;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
            }

            &::before {
                transform: translatex(-50%);
                -webkit-mask-image: url('/app1/img/mainlayout/infofield/blend-tl.svg');
                mask-image: url('/app1/img/mainlayout/infofield/blend-tl.svg');
                -webkit-mask-size: 100% 100%;
                mask-size: 100% 100%;
            }

            &::after {
                transform: translatex(50%);
                -webkit-mask-image: url('/app1/img/mainlayout/infofield/blend-br.svg');
                mask-image: url('/app1/img/mainlayout/infofield/blend-br.svg');
                -webkit-mask-size: 100% 100%;
                mask-size: 100% 100%;
            }
        }
    }

    .p-rel {
        position: relative;
    }

    .C-Hover {
        transition: 200ms all ease-out;
        filter: drop-shadow(0 0 0.15rem $ketchup-mayo);


        .mud-input-control {
            margin-top: 0px;
        }

        .mud-input.mud-input-underline {
            &::before {
                width: 0%;
            }

            &::after {
                left: 0;
                right: 0;
                width: 80%;
                bottom: 3.5px;
                content: "";
                position: absolute;
                transform: scaleX(0);
                transition: transform 200ms cubic-bezier(0, 0, .2, 1) 0ms;
                border-bottom: 2px solid #4ae25f;
                pointer-events: none;
            }
        }

        &:hover {
            transform: translateY(-0.25em);
            filter: drop-shadow(1px 1px 2.15px $ketchup-mayo-opa);

            .sc-rcontent-imgCrnR {
                position: relative;
                top: 3.5px;
                left: 3px;
            }

            .sc-rcontent-imgCrnL {
                position: relative;
                top: -3.5px;
                left: -4px;
            }
        }

        &:focus-within {
            transform: translateY(-0.25em);
            filter: drop-shadow(1px 1px 2.15px $ketchup-mayo-opa);

            .sc-rcontent-imgCrnR {
                position: relative;
                top: 3.5px;
                left: 3px;
            }

            .sc-rcontent-imgCrnL {
                position: relative;
                top: -3.5px;
                left: -4px;
            }
        }

        .mud-input-control {
            > .mud-input-control-input-container {
                > .mud-input-label-inputcontrol {
                    color: #4ae25f;
                    padding: 0;
                    top: -2px;
                    left: 5px;
                    letter-spacing: 0.00938em;
                    z-index: 0;
                    pointer-events: none;
                }
            }
        }

        .mud-input-label-animated {
            transition: color 200ms cubic-bezier(0, 0, 0.3, 1.05) 0ms, transform 200ms cubic-bezier(0, 0, .2, 1) 0ms;
        }

        .mud-input-label-inputcontrol {
            top: 0;
            left: 0;
            position: absolute;
            transform: translate(0, 24px) scale(1);
        }

        .mud-shrink ~ .mud-input-label.mud-input-label-inputcontrol,
        .mud-input:focus-within ~ .mud-input-label.mud-input-label-inputcontrol {
            transform: translate(15px, 3.5px) scale(.75);
            transform-origin: top left;
        }

        .mud-input:focus-within ~ .mud-input-label.mud-input-label-inputcontrol {
            color: $ketchup-mayo-opa;
        }

        .mud-input > input.mud-input-root, div.mud-input-slot.mud-input-root {
            width: 85%;
            left: 6px;
            top: -2Px;
        }
    }

    .sc-rcontent-imgCrnL {
        transition: 200ms all ease-out;
        position: relative;
        max-height: 100%;
        top: -1px;
        left: 19px;
    }

    .sc-rcontent-imgCrnR {
        transition: 200ms all ease-out;
        position: relative;
        max-height: 100%;
        top: 1px;
        left: -19px;
    }

    .sc-rcontent-content {
        position: absolute;
        display: flex;
        justify-content: space-between;
    }

    .sc-rcontent-content-inner {
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 40px;
    }

    .sc-rcontent-wrap {
        display: flex;
        position: relative;
        justify-content: space-around;
        margin: 0 auto;
        height: 100%;
    }

    .sc-rcontent-frame {
        height: 40px;
        position: relative;
    }

    .sc-rcontent-frame-inner {
        height: 40px;
        position: relative;
    }

    .masked-div {
        position: relative;
        background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
        background-color: #00001b;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: inherit;
            background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
            background-color: #00001b;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }

        &::before {
            transform: translatex(-50%);
            -webkit-mask-image: url('/app1/img/mainlayout/infofield/blend-tl.svg');
            mask-image: url('/app1/img/mainlayout/infofield/blend-tl.svg');
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }

        &::after {
            transform: translatex(50%);
            -webkit-mask-image: url('/app1/img/mainlayout/infofield/blend-br.svg');
            mask-image: url('/app1/img/mainlayout/infofield/blend-br.svg');
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }
    }



    .ShadowBorder {
        filter: drop-shadow(-0.5px 0.5px 0px $ketchup-mayo);
    }

    .ShadowBorder2 {
        filter: drop-shadow(0.5px -0.5px 0px $ketchup-mayo);
    }


    .masked-div-inner {
        position: relative;
        width: 300px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40px;
            background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
            background-color: #00001bff;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }

        &::before {
            left: -44px;
            -webkit-mask-image: url('/app1/img/mainlayout/infofield/blend-tl.svg');
            mask-image: url('/app1/img/mainlayout/infofield/blend-tl.svg');
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }

        &::after {
            right: -40px;
            -webkit-mask-image: url('/app1/img/mainlayout/infofield/blend-br.svg');
            mask-image: url('/app1/img/mainlayout/infofield/blend-br.svg');
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }
    }

    .masked-div-inner-thin {
        position: relative;
        width: 300px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40px;
            background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
            background-color: #00001bff;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }

        &::before {
            left: -44px;
            -webkit-mask-image: url('/app1/img/mainlayout/infofield/blend-tl.svg');
            mask-image: url('/app1/img/mainlayout/infofield/blend-tl.svg');
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }

        &::after {
            right: -40px;
            -webkit-mask-image: url('/app1/img/mainlayout/infofield/blend-br.svg');
            mask-image: url('/app1/img/mainlayout/infofield/blend-br.svg');
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }
    }

    .sc-rcontent-line {
        position: relative;
        height: 1px; /* Höhe der Border anpassen */
        background-color: white;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &::before {
            border-top: 1px solid white;
            height: 40px;
            right: 20%;
            /* Abstand zur vorherigen Elemente anpassen */
        }

        &::after {
            border-bottom: 1px solid white;
            height: 40px;
            top: 0px; /* Abstand zur nächsten Elemente anpassen */
        }
    }

    .drop3 {
        background: rgb(255 255 255 / 0%);
        display: flex;
        margin: 0 auto;
        box-shadow: 0 1px 3px $ketchup-mayo-opa inset, 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 300ms;

        &:hover {
            transform: translateY(1px);
            box-shadow: 0 3px 7px $ketchup-mayo-opa inset, 0 5px 5px rgba(0, 0, 0, 0.22);
        }
    }
